/* Channnels */
.channels
{
  /* margin-top: -1rem; */
}

.channels .item-list {
  gap: 3rem;
}

.channels .item
{
  padding: 4rem;
  cursor: pointer;
  transform: var(--transition);
  position: relative;
}

.channels .item::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: .5rem;
  background: rgba(87, 100, 222, 1);
  background: linear-gradient(45deg, rgba(87, 100, 222, 1) 0%, rgba(85, 179, 213, 1) 100%);
  transition: var(--transition);
}

.channels .item:hover::after
{
  width: 100%;
}

.channels .item-icon
{
  font-size: 4.5rem;
}

.channels .item-info-text
{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.channels .item-link
{
  margin-top: 1.8rem;
  display: inline-block;
  transition: var(--transition);
}

.channels .item:hover .item-link
{
  color: var(--color-white);
}

/* viewports */
@media screen and (min-width: 768px){
  .channels .item-list{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px){
  .channels .item-list{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px){
  .contact .contact-content{
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      row-gap: 0;
      align-items: center;
  }
}