/* Testimonials */
.testimonials .item-list
{
  margin-top: 3rem;
  gap: 3rem;
}

.testimonials .item
{
  padding: 4.8rem 1.6rem;
  position: relative;
  transition: var(--transition);
}

.testimonials .item::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: .5rem;
  background: rgba(87, 100, 222, 1);
  background: linear-gradient(45deg, rgba(87, 100, 222, 1) 0%, rgba(85, 179, 213, 1) 100%);
  transition: var(--transition);
}

.testimonials .item:hover::after{
  width: 100%;
}

.testimonials .item-img
{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2.8rem;
}

.testimonials .item-rating
{
  margin-top: 3.5rem;
}

.testimonials .item-rating li
{
  margin: 0 1rem;
}

/* viewports */
@media screen and (min-width: 768px)
{
  .testimonials .section-t
  {
    text-align: center;
  }

  .testimonials .section-t::before
  {
    left: 50%;
    transform: translateX(-50%);
  }

  .testimonials .item-list
  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px)
{
  .testimonials .item-list
  {
    grid-template-columns: repeat(3, 1fr);
  }
}

